@charset "utf-8";

/*--------　共通　--------*/
body{
    font-size: 18px;
    line-height: 1.6;
    color: #3e3e4f;
    font-family: 'Noto Serif JP', serif;
}
img{
    display: block;
}
.section{
    padding: 70px 0;
}
.section:first-of-type{
    padding:0;
}
.contents-inner{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}
.sp-hidden{
    display: block;
}
h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    letter-spacing: 0.2em;
}
.tx-paragraph{
    margin-top: 1rem;
}
.section.sec02,
.section.sec05{
background-color: #e5f5ff;
}

/*--------　section01　--------*/
h1{
    font-size: 24px;
    letter-spacing: 0.15em;
    text-align: center;
}
h1 span{
    display: block;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}
.col2{
    display: flex;
    justify-content: space-between;
}
.col2 .col2-tx{
    width: 40%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.col2 .col2-tx .col2-tx-inner{
    width: 60%;
}
.col2 .col2-tx img{
    max-width: 100%;
    margin: 50px 0;
}
.col2 .col2-tx .grey-box{
    padding: 15px;
    background-color: #e5e5eb;
}
.col2 .col2-tx .grey-box p{
    text-align: center;
}
.col2 .col2-img{
    width: 60%;
}
.col2 .col2-img img{
    max-width: 100%;
}

/*--------　section02　--------*/
table{
    width: 100%;
}
table tr th,
table tr td{
    border: 1px solid #e6e6e6;
    padding: 10px;
    background-color: #FFF;
}
table tr th{
    text-align:right;
    width: 20%;
}
table tr td{
    text-align: center;
}

/*--------　section03　--------*/
.section.sec03{
    border-top: 4px solid #e6e6e6;
}

/*--------　section04　--------*/
.section.sec04{
    background: fixed;
    background-image: url(../images/bg_room.jpg);
    background-size: cover;
    background-position:right bottom;
}
.flow-box {
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    border: 1px solid #e5e5eb;
    padding: 20px 30px;
    margin-top: 20px;
}
.flow-box.right{
    margin-left:auto;
}
.flow-box h3 span{
    color: #2268bc;
    font-size: 24px;
    border-bottom: 3px solid #bbcdee;
}
.flow-box p{
    margin-top: 15px;
}

/*--------　section05　--------*/
.section.sec05{
    background: linear-gradient(45deg, rgba(245,253,255,1), rgba(223,237,241,1));
    padding-bottom: 100px;
}
.section.sec05 .button{
    margin-top: 30px;
    text-align: center;
}
.section.sec05 .button a{
    background-color: #FFF;
    border: #2268bc solid 1px;
    border-radius: 25px;
    color: #2268bc;
    text-decoration: none;
    display: inline-block;
    padding: 10px 90px;
}
.section.sec05 .button a:hover{
    background-color: #bbcdee;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

/*--------　フッター　--------*/
.footer .foot-logo img{
    margin: 20px auto;
    width: 15%;
}
.footer .foot-copy{
    background-color: #2268bc;
    padding: 10px 0;
    text-align: center;
    color: #FFF;
    font-size: 14px;
}

/*--------------------------------
            スマホ表示
--------------------------------*/

@media screen and (max-width: 768px){
.contents-inner{
    max-width: 90%;
    margin: 0 auto;
}
.pc-hidden{
    display: block;
}

/*--------　section01　--------*/
.col2{
    display: block;
}
.col2 .col2-tx{
    width: 100%;
    margin-top: 40px;
}
.col2 .col2-tx .col2-tx-inner{
    width: 90%;
    padding-bottom: 20px;
}
.col2 .col2-tx img{
    max-width: 70%;
    margin: 20px auto;
    display: block;
}
.col2 .col2-tx .grey-box{
    padding: 15px;
    background-color: #e5e5eb;
}
.col2 .col2-img{
    width: 100%;
}
.col2 .col2-img img{
    max-width: 100%;
}

/*--------　section02　--------*/
.table-wrap{
    overflow-y: scroll;
}
table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
table tr th,
table tr td {
  border: 2px solid #eee;
  padding: 4px 8px;
  white-space: nowrap;
}

/*--------　section04　--------*/
.flow-box{
    width: 100%;
}

/*--------　section05　--------*/
.section.sec05 .button a{
    padding: 15px 70px;
    border-radius:30px;
}

/*--------　footer　--------*/
.footer .foot-logo img{
    width: 70%;
    margin:10px auto;
}
}